#searchDiv{clear:both;}
#searchDiv .searcItem{clear:both;padding:5px;}
#searchDiv .searcItem .itemLeft{float:left;width:60px;}
#searchDiv .searcItem .itemRight{margin-left:70px;}
#searchDiv .searcItem .itemRight .labelDiv{display: block;clear: left;max-height: 200px;overflow-y: auto;}
#searchDiv .searcItem .itemRight .labelDiv:FIRST-CHILD{clear:none;}
#searchDiv .searcItem .itemRight .labelDiv label{margin:0px 5px;padding:2px;
background:none; display:block;float:left;font-weight: normal;text-shadow:none;line-height: 16px;}
#searchDiv .searcItem .itemRight .labelDiv label.label{color:#0088cc;cursor: pointer;}
#searchDiv .searcItem .itemRight .labelDiv label.labelTitle{}
#searchDiv .searcItem .itemRight .labelDiv label.label.current{color:#fff; font-weight: bold;
background: none;color:#005580}

.sidebar-tree{float:left;width:250px;height:250px;overflow-y:auto;overflow-x:hidden;}


#itemGrid table{}
#itemGrid table tr.head{background: gray;}
#itemGrid table tr.head td{color:#666;overflow: hidden;background: #EEE;}
#itemGrid table tr.row{overflow: hidden;cursor: pointer;color: #666;}
#itemGrid table tr.row:HOVER{}
#itemGrid table tr.row td{}


